logs/
.idea/
bash_scripts/config/*
!bash_scripts/config/.config.example.sh
!bash_scripts/config/.cupdate_config.example.sh
logfiles/
feeds/
htdocs/includes/user.config.php
vendor/
error.log
access.log
